# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
# .env
# .env.production
# .env.development
# .env.local

# IDE
.vscode/*
.idea

# etc
/dist
/node_modules
.DS_Store
/generated/prisma
